.sidebar-container {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 1em 0px grey;
    display: flex;
    flex-direction: column;

    &.left {
        .button {
            text-align: right;
        }
    }

    &.right {
        .button {
            text-align: left;
        }
    }

    .button {
        margin: 1em;
    }

    .sidebar-content {
        position: relative;
        padding: 1em;
        flex: 1;
        overflow-y: scroll;
    }
}
